<div class="am-signin-wrapper">
  <div class="am-signin-box">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <div>
          <h2>ASJ-START</h2>
          <p>Happy Living Space Creator.</p>
          <p>AiShangJia to create a Guangzhou designer brokerage agency, serving more than 300 interior design studios and personal designers, to create Guangzhou's first VR furniture experience center.</p>
          <hr>
          <p>Don't have an account?
            <br> <a href="#">Sign up Now</a></p>
        </div>
      </div>
      <div class="col-lg-7">
        <%= form_tag sessions_path, method: :post do %>
          <h5 class="tx-gray-800 mg-b-25">Signin to Your Account</h5>
          <div class="form-group">
            <label class="form-control-label">Phone:</label>
            <%= telephone_field_tag :phone, nil, class: "form-control", placeholder: "Enter your phone number" %>
          </div>
          <!-- form-group -->
          <div class="form-group">
            <label class="form-control-label">Password:</label>
            <%= password_field_tag :password, nil, class: "form-control", placeholder: "Enter your password" %>
          </div>
          <!-- form-group -->
          <div class="form-group mg-b-20"><a href="">Reset password</a></div>
          <button type="submit" class="btn btn-block">Sign In</button>
        </div>
      <% end %>
      <!-- col-7 -->
    </div>
    <!-- row -->
    <p class="tx-center tx-white-5 tx-12 mg-t-15">Copyright &copy; 2017 ~ <%= DateTime.now.year %>. All Rights Reserved. AiShangjia</p>
  </div>
  <!-- signin-box -->
</div>