<div class="am-pagebody">
  <div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title">修改密码</h6>
    <p class="mg-b-20 mg-sm-b-30">首次创建账号建议修改密码。</p>
    <%= form_tag update_password_path, method: :put do %>
      <div class="form-layout">
        <div class="row mg-b-25">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label">旧密码: <span class="tx-danger">*</span></label>
              <%= password_field_tag :old_password, '', class: "form-control", placeholder: "输入旧密码" %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label">新密码: <span class="tx-danger">*</span></label>
              <%= password_field_tag :password, '', class: "form-control", placeholder: "输入新密码" %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label">密码确认: <span class="tx-danger">*</span></label>
              <%= password_field_tag :password_confirmation, '', class: "form-control", placeholder: "再次输入新密码" %>
            </div>
          </div>
        </div>
        <div class="form-layout-footer">
          <button type="submit" class="btn btn-info mg-r-5">保存</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
